<%= render 'shared/page_title', title: "All Recipes" %>

<%= will_paginate %>

<% @recipes.each do |recipe| %>
  <div class="row">
    
    <div class="col-md-2">
      <section class="chef_info center">
        <%= gravatar_for recipe.chef, size: 100 %>
        <h5>Chef name: <%= recipe.chef.chefname %></h5>
      </section>
    </div>
    
    <div class="col-lg-6 well">
      <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
      <p><%= recipe.summary %></p>
      <p>
        <span class='quiet'><small>Created <%= time_ago_in_words(recipe.created_at) %> ago &nbsp;|&nbsp; Updated <%= time_ago_in_words(recipe.updated_at) %> ago</small></span>
      </p>
      
      <div class="like-wrapper orange">
          <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-up orange"></i>
          <% end %>
          &nbsp;<%= recipe.thumbs_up_total %></span>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-down orange"></i>
          <% end %>
          &nbsp;<%= recipe.thumbs_down_total %>
      </div>
      
    </div>
    
    <div class="col-md-4">
      <%= image_tag(recipe.picture.url, size: "250x150", class: "gravatar") if recipe.picture? %> <!-- desplay if image is present -->
    </div>
  
  </div>
  
  <hr/>
  
<% end %>

<%= will_paginate %>